header {
    z-index: 7;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-self: flex-start;
    gap: 70%;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(10px);
    transition: height .5s ease;
}
header.active {
    height: 10%;
}
.logo {
    width:15%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    transition: transform .5s ease;
    gap: 30px;
}
.logo.active {
    transform: scale(0.7) translateX(-20%);
}
.menu-bar {
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    width: 60px;
    height: 60px;
}
.menu-bar .line_1 {
    width: 60px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: transform .5s ease, background-color .7s ease;
}
.line_1.active {
    transform: rotate(45deg);
    position: absolute;
    background-color: #c038ff;
}
.menu-bar .line_2 {
    width: 60px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: opacity .5s ease, background-color .7s ease;
}
.menu-bar .line_3 {
    width: 60px;
    height: 5px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: transform .5s ease, background-color .7s ease;
}
.line_3.active {
    transform: rotate(-45deg);
    position: absolute;
    background-color: #c038ff;
}
.line_2.active.active {
    opacity: 0;
    background-color: #c038ff;
}
.infinityText {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 160px;
}
.contentAnimate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 10%;
    width: 100%;
    white-space: nowrap;
    animation: infinityAnimation linear 20s infinite;
}
.contentAnimate p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    flex-shrink: 0;
    transition: color .4s ease;
}
.contentAnimate p:hover {
    color: #c038ff;
}
@keyframes infinityAnimation {
    0% {
        transform: translate3d(110%, 0, 0);
    }
    100% {
        transform: translate3d(-110%, 0, 0);
    }
}
main {
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:35px;
    justify-content: center;
}
.big-top-section {
    width: 48%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(161.02deg, rgba(105, 95, 113, 0.73) 0%, rgba(83, 0, 148, 0.14) 95.94%);
    border-radius: 72px;
    transition: transform .4s ease;
}
.big-top-section:hover {
    transform: scale(1.05);
}
.big-top-section .decoration {
    height: 313px;
    width: 270px;
    position: absolute;
    justify-self: flex-end;
    align-self: flex-end;
    background: linear-gradient(143.4deg, rgba(167, 156, 209, 0.66) 0%, rgba(127, 106, 211, 0.23) 100%);
    border-radius: 30px;
    margin-left: 400px;
    margin-bottom: 52px;
}
img.big-top-section-grif {
    opacity: 0.2;
    align-self: flex-end;
    margin: 770px 400px 50px 56px;
    position: absolute;
}
.big-top-section p {
    padding: 60px;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;

    color: #BE96D7;
}
.big-top-section p span {
    font-size: 80px;
    color: #fff;
}
.small-top-section {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    
}
.first-small-top-section {
    width: 700px;
    height: 350px;
    background: linear-gradient(101.63deg, rgba(69, 69, 69, 0.4) 1.28%, rgba(33, 33, 33, 0) 100%);
    border-radius: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: transform .4s ease;
}
.first-small-top-section:hover {
    transform: scale(1.05);
}
.second-small-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    height: 350px;
}
.one-child-second-small,  .second-child-second-small{
    width: 300px;
    height: 300px;
    background: linear-gradient(132.5deg, #FCFCFC 0%, rgba(217, 217, 217, 0.29) 100%);
    border-radius: 30px;
    transition: transform .4s ease;
    cursor: pointer;
}
.one-child-second-small:hover,  .second-child-second-small:hover {
    transform: scale(1.05);
}
.one-child-second-small p, .second-child-second-small p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-left: 22px;
    margin-top: 40px;
    border-bottom: 2px solid #A800F8;
    padding-bottom: 8px;
}
.one-child-second-small p {
    width: 210px;
}
.second-child-second-small p {
    width: 260px;
}

.news {
    display: flex;
    flex-direction: column;
    width: 375px;
    gap: 24px;
}
.news div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.news div p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.first-new {
    border-bottom: 1px solid #fff;
}
.second-new {
    border-bottom: 1px solid #fff;
}
.title_news p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: 260px;
    border-top: 1px solid #FFFFFF;
    align-self: center;
    margin-top: 1916px;
}
.footer {
    padding-top: 40px;
    width: 1143px;
    display: flex;
    justify-content: space-between;
}
footer p {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
    padding-left: 320px;
}
section.iphone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 260px;
    gap: 35px;
}
section.iphone .left-iphone-div {
    width: 40%;
    background: linear-gradient(101.63deg, rgba(69, 69, 69, 0.4) 1.28%, rgba(33, 33, 33, 0) 100%);
    border-radius: 45px;
}
section.iphone div p {
    padding: 20px;
    font-family: 'Inter';
    font-size: 22px;
    color: #fff;
    line-height: 1.8em;
}
.obs {
    opacity: 0;
}
.left-iphone-div.obs {
    transform: translateX(-60%);
    transition: transform .4s ease, opacity .5s ease;
}
.iphone-jpegs.obs {
    transform: translateX(60%);
    transition: transform .4s ease, opacity .5s ease;
}
.obs.intersecting {
    opacity: 1;
    transform: translateX(0);
}
.iphone-jpegs {
    display: flex;
}
a.topScroll {
    position: absolute;
    width: 100%;
    height: 100%;
}



/* стили для  анимированоого текста */


.animate-text {
    width: 100%;
    height: 100vh;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
section.grif-block {
    width: 50%;
    height: 80%;
    opacity: 0;
    z-index: -10;
    transition: opacity .8s  1s ease, z-index .1s 1s ease;
    background: linear-gradient(101.63deg, rgba(69, 69, 69, 0.4) 1.28%, rgba(33, 33, 33, 0) 100%);
    border-radius: 30px;
    position: absolute;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
section.grif-block::-webkit-scrollbar {
    visibility: hidden;
}
p.grif {
    color: #fff;
    font-size: 60vh;
    font-weight: bolder;
    transition: font-size .8s 0.5s ease, color 1s 0.5s ease;
    font-family: 'Inter';
    user-select: none;
    letter-spacing: 0.1em;
    padding-left: 8%;
}
section.grif-block.active {
    opacity: 1;
    z-index: 0;
}
p.grif.active {
    font-size: 20vh;
    color: rgb(128, 69, 173);
}
.grif-block-content {
    height: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.grif-block-content p {
    color: #fff;
    font-size: 30px;
    font-family: 'Inter';
    text-align: start;
    padding-left: 8%;
    line-height: 50px;
    padding-bottom: 35%;
}
.grif-block-content img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10%;
}
.grif-block-content button{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    transition: color .4s ease;
    cursor: pointer;
}
.grif-block-content button:hover {
    color: #c038ff;
}
.botArrow {
    width: 40px;
    height: 40px;
    color: #fff;
    animation: arrow 1s alternate infinite linear;
}
@keyframes arrow {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(16px);
    }
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 700px;
    height: 350px;
}
.cardItem {
    transition: transform .2s;
}